<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>text vs utext</h1>
<ul>
    <li>th:text = <span th:text="${data}"></span></li>
    <li>th:utext = <span th:utext="${data}"></span></li>
    <!-- 
    	HTML에서 "<"이런 특수 문자를 HTML 엔티티("&lt")로 변경하는 것을 이스케이프(excape)라고 한다.
    	thymeleaf는 기본적으로 이스케이프를 제공한다.
    	
    	text : 이스케이프 한 상태로 받는다.
    	utext : 이스케이프를 하지 않은 상태로 받는다.
     -->
</ul>

<h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
<ul>
    <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
    <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
    <!-- 
    	[[${}]] > 이스케이프 한 상태
    	[(${})] > 이스케이프 하지 않은 상태
     -->
</ul>
</body>
</html>